table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.btn.table-edit {
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  line-height: 0.8rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
  font-size: 10px;
}

tr:nth-child(even) {
  background-color: #eeeeee57;
}

tr:hover {
  background-color: #dae5e4;
  font-style: italic;
}